.task {
  background: white;
  border-radius: 4px;
  min-height: 5rem;
  color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: small;

  border-radius: 25px;
  padding-inline: 9px;
  padding-block: 5px;
}

.PLANNED {
  background: #e2df06;
}
.ONGOING {
  background: #bb5801;
}
.DONE {
  background: #0c9400;
}
