<div class="container-fluid" style="background-color: #eee">
  <section style="background-color: #eee">
    <div class="container py-5">
      <div
        class="rounded-circle d-flex align-items-center justify-content-center"
      >
        @for(item of categoryList;track $index){
        <button
          [class]="
            selectedCategory == item
              ? 'btn btn-success mx-2'
              : 'btn btn-outline-success mx-2'
          "
          (click)="filterCategory(item)"
        >
          {{ item }}
        </button>
        }
      </div>
      <div class="row">
        @if (filteredProducts) {} @for(item of filteredProducts; track $index){
        <div class="col-md-12 col-lg-3 pt-2 mb-4 mb-lg-0">
          <app-product-card [product]="item"></app-product-card>
        </div>
        }
      </div>
    </div>
  </section>
</div>
