<div class="container-fluid" style="background-color: #eee">
  <section style="background-color: #eee">
    <div class="container py-5">
      <div
        class="rounded-circle d-flex align-items-center justify-content-center"
      >
        <button class="btn btn-outline-success mx-2">Laptop</button>
        <button class="btn btn-outline-success mx-2">Camera</button>
        <button class="btn btn-outline-success mx-2">I-Pad</button>
        <button class="btn btn-outline-success mx-2">Moniter</button>
        <button class="btn btn-outline-success mx-2">Headphones</button>
      </div>
      <div class="row">
        <div class="col-md-12 col-1g-3 pt-2 mb-4 mb-1g-0"></div>
      </div>
    </div>
  </section>
</div>
