#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #02063f;
  margin-block: 5rem;
  border-radius: 25px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.container {
  display: flex;
  gap: 1rem;
}
button {
  margin-inline: 1rem;
}
.read-the-docs {
  color: #888;
}
li {
  list-style-type: none;
  /* border: 1px solid blue; */
}

.horizontal-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.horizontal-ul li {
  padding-inline: 10px;
}
.horizontal-ul li:hover {
  /* border: 1px solid blue; */
  background-color: rgba(255, 234, 0, 0.622);
  cursor: pointer;
  color: #000;
  border-radius: 25px;
  padding-inline: 10px;
}
.active-category {
  background-color: rgb(255, 234, 0);
  color: #000;
  border-radius: 25px;
  padding-inline: 10px;
}

.mx-1 {
  margin-inline: 1rem;
}

select {
  padding: 0.8em;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  width: 280px;
}
.bg-rounded {
  border-radius: 25px;
  background-color: #000000;
  font-size: 12px;
  padding: 10px;
}
